@font-face {
    font-family: 'ACC_childrenheart';
    font-weight: normal;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/acc/ACC_childrenheart.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/acc/ACC_childrenheart.eot?#iefix') format('embedded-opentype'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/acc/ACC_childrenheart.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/acc/ACC_childrenheart.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/acc/ACC_childrenheart.ttf') format("truetype");
    font-display: swap;
} 