@font-face {
    font-family: 'ACC_childrensky';
    font-weight: normal;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/acc/ACC_childrensky.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/acc/ACC_childrensky.eot?#iefix') format('embedded-opentype'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/acc/ACC_childrensky.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/acc/ACC_childrensky.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/acc/ACC_childrensky.ttf') format("truetype");
    font-display: swap;
} 